<div *ngIf="tone">
  <mat-form-field appearance="fill" class="wide-slide">
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="tone.name" (input)="onInput()">
    <button mat-button *ngIf="tone.name" matSuffix mat-icon-button aria-label="Clear" (click)="tone.name=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill" class="wide-slide">
    <mat-label>Description</mat-label>
    <textarea matInput type="text" [(ngModel)]="tone.description" (input)="onInput()"></textarea>
  </mat-form-field>

  <div mat-line class="bottom-margin">
    <mat-button-toggle-group [(ngModel)]="tone.waveType" #group="matButtonToggleGroup">
      <mat-button-toggle (click)="onInput()" value="sine" aria-label="Sine Wave">
        Sine Wave
      </mat-button-toggle>
      <mat-button-toggle (click)="onInput()" value="square" aria-label="Square Wave">
        Square Wave
      </mat-button-toggle>
      <mat-button-toggle (click)="onInput()" value="sawtooth" aria-label="Sawtooth Wave">
        Sawtooth Wave
      </mat-button-toggle>
      <mat-button-toggle (click)="onInput()" value="triangle" aria-label="Triangle Wave">
        Triangle Wave
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div mat-line class="top-margin">Volume</div>
  <div mat-line>
    <mat-slider [(ngModel)]="tone.volume" (input)="onInput()" class="wide-slide" [max]="100" [min]="0" [step]="1" [thumbLabel]="true" [tickInterval]="1">
    </mat-slider>
  </div>

  <div mat-line class="top-margin">Frequency</div>
  <div mat-line>
    <mat-slider [(ngModel)]="tone.frequency" (input)="onInput()" class="wide-slide" [max]="20000" [min]="20" [step]="20" [thumbLabel]="true" [tickInterval]="1000">
    </mat-slider>
  </div>
</div>
