<mat-card>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Tones of town</mat-panel-title>
          <mat-panel-description>
            Description of tones of town
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- This is the tone controls -->
        <app-tone-dialog [(tone)]="sampleSound"></app-tone-dialog>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">
      <mat-icon aria-hidden="false" aria-label="tune">tune</mat-icon>
    </button>
    <button mat-raised-button color="primary">
      <mat-icon aria-hidden="false" aria-label="Mute">volume_mute</mat-icon>
      <!-- <mat-icon aria-hidden="false" aria-label="Unmute">volume_up</mat-icon> -->
    </button>
  </mat-card-actions>
</mat-card>

<pre>{{sampleSound|json}}</pre>
