<mat-card>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{sampleSound.name?sampleSound.name:'Unnamed'}}<br>
            ({{sampleSound.frequency}}Hz {{sampleSound.waveType}} wave at {{sampleSound.volume}}% volume)
          </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- This is the tone controls -->
        <app-tone-controls [(tone)]="sampleSound"></app-tone-controls>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Clone</button>
    <button mat-raised-button *ngIf="sampleSound.playing" (click)="sampleSound.playing=!sampleSound.playing" color="primary">Stop</button>
    <button mat-button *ngIf="!sampleSound.playing" (click)="sampleSound.playing=!sampleSound.playing">Play</button>

  </mat-card-actions>
</mat-card>

<pre>{{sampleSound|json}}</pre>
