<mat-card>
  <mat-card-content>Tone 1
    <app-tone-dialog [(tone)]="sampleSound"></app-tone-dialog>
    <pre>{{sampleSound|json}}</pre>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">
      <mat-icon aria-hidden="false" aria-label="tune">tune</mat-icon>
    </button>
    <button mat-raised-button color="primary">
      <mat-icon aria-hidden="false" aria-label="Mute">volume_mute</mat-icon>
      <!-- <mat-icon aria-hidden="false" aria-label="Unmute">volume_up</mat-icon> -->
    </button>
  </mat-card-actions>
</mat-card>
